.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: #1c1c1c; /* Fondo oscuro pero no totalmente negro */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave para mayor profundidad */
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25); /* Sombra más fuerte al pasar el mouse */
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #f1f1f1; /* Blanco suave para resaltar el texto en fondo oscuro */
  margin-bottom: 10px;
}

.product-details {
  list-style: none;
  padding: 0;
  text-align: center;
}

.product-details li {
  font-size: 14px;
  color: #000000; /* Gris claro para un contraste suave */
  margin: 10px 0;
}

.product-details li strong {
  font-size: 16px;
  font-weight: bold;
  color: #555555; /* Blanco suave para los elementos destacados */
  display: block;
}



/* dashboard*/

.dashboard-container {
  text-align: center;
  padding: 20px;
  background-color: #121212;
  color: white;
}

.metric-box {
  display: inline-block;
  margin: 15px;
  padding: 15px;
  background-color: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  min-width: 180px;
}

.charts {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}